:root {
  --primary-1: #FFBE34;
  --primary-2: #091242;
  --secondary-1: #F4F4F4;

  --font-1: #23212A;
  --heading-font: #1C1F35;
  --paragraph-font: #666C89;
  --gray-light-1: #D4D4D4;
  --gray-light-2: #D8D8D8;
  --blue-1: #1F2A69;

  --logo-block-height: 10rem;
}

html,
body {
  height: 100%;
}

body {
  font-family: Krub;
  font-weight: 500;
  line-height: 1.51525rem;
  color: var(--paragraph-font);
}

/*  Common ----------------------------------- */

.section_mark,
.section_mark-dark {
  background-color: rgba(232, 232, 232, 0.50);
  border-left: var(--primary-1) solid 0.256rem;
  color: var(--heading-font);
  width: max-content;
  padding: 0 0.5rem;
}

.section_mark-dark {
  background-color: rgba(4, 28, 55, 0.50);
  color: white;
}

.section_title {
  color: var(--heading-font);
  font-family: Rubik;
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: normal; 
}

.section_button,
 .section_button-dark {
  max-width: max-content;
  background: linear-gradient(to right, #FFB629, #FFDA56, #FFD7A6);
  color: var(--font-1);
  font-weight: 600;
  line-height: 1.35025rem;
  position: relative;
  overflow: hidden;
}

.section_button a,
.section_button-dark a {
  padding: 1.19rem 2.94rem;
  display: block;
  position: relative;
  z-index: 50;
}

.section_button::before,
.section_button-dark::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: white;
  right: -0.8rem;
  bottom: -1rem;
}

.section_button:hover::before,
.section_button-dark:hover::before {
  width: 10rem;
  height: 10rem;
  right: -2rem;
  bottom: -3rem;
}

.section_button-dark::before {
  background-color: var(--blue-1);
}

.section_button-dark {
  background: var(--primary-2);
}

.section_heading {
  color: var(--heading-font);
  font-family: Rubik;
  font-size: 1.5625rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal; 
}

.section_heading_2 {
  color: white;
  font-family: Rubik;
  font-size: 1.25rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal; 
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1230px;
  padding: 0 15px;
  margin: auto;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
}

.header__logo {
  background-color: var(--primary-2);
}

.logo_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.88rem;
  padding-bottom: 2.88rem;
  height: var(--logo-block-height);
}

.logo_block__link {
  padding-right: 0.937rem;
}

.logo_address {
  display: flex;
  gap: 2.44rem;
}

.logo_address__item {
  display: flex;
  align-items: center;
}

.logo_address__image {
  min-height: 4.25rem;
  margin-right: 0.88rem;
  flex: 0 0 auto;
}

/* Menu --------------------------------------------------  */

.header__block {
  position: absolute;
  top: var(--logo-block-height);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25); /* rgba(9, 18, 66, 0.25); */
  color: white;
  font-weight: 600;
  min-height: 4.875rem;
}

.header__block__container {
  display: flex;
  align-items: center;
}

.header__block__menu {
  flex: 1 0 auto;
}

.menu__list {
  display: flex;
  list-style: none;
}

.menu__list .menu__item:not(:last-child) {
  padding-right: 1.88rem;
  border-right: var(--paragraph-font) solid 1px;
}

.menu__list .menu__item:not(:first-child) {
  padding-left: 1.88rem;
}

.header_action {
  display: flex;
}

.header_action__links {
  display: flex;
  align-items: center;
  margin-right: 3.12rem;
  gap: 1.5rem;
}

.header_action__button {
  padding: 1.75rem 3.25rem;
  background-color: #fff;
  color: var( --font-1);
  line-height: 1.35025rem;
  transition: all 0.3s;
}

.header_action__button:hover {
  background-color: var(--primary-2);
  color: var(--primary-1);
}

/* Menu btn */

.menu_btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 101;
	overflow: hidden;
  display: none;
}

.menu_btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	transition: all 0.5s;
  z-index: 50;
}

.menu_btn span:nth-of-type(2) {
	top: calc(50% - 7px);
}

.menu_btn span:nth-of-type(3) {
	top: calc(50% + 7px);
}

.menu_btn.active span:nth-of-type(1) {  
  display: none;
}

.menu_btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}

.menu_btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

.menu.active {
  display: flex;
  position: fixed;
  color: var(--primary-1);
  left: 0;
  bottom: 0;
  width: 250px;
  min-height: 100vh;
  top: 0;
  background-color: var(--primary-2);
  border-right: var(--primary-1) solid 3px;
  transform: translateX(0);
  transition: all 0.7s; 
}

.menu {
  position: relative;
  z-index: 100;
}

/*  Logistics ----------------------------------- */

.logistics {
  background: url("../img/home/logistics/photo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  max-height: 62.1865rem;
}

.logistics__container {
  display: flex;
  flex-direction: column;
  padding-top: 15.7rem;
  padding-bottom: 15.7rem;
}

.logistics__mark {
  margin-bottom: 0.5rem;
}

.logistics__title {
  color: #FFF;
  font-family: Rubik;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: normal; 
  max-width: 34.625rem;
  margin-bottom: 0.38rem;
}

.logistics__text {
  margin-bottom: 1.5rem;
  color: #FFF;
  max-width: 35.6875rem; 
}

/* Offerings ----------------------------------- */

.offerings {
  margin: 7.56rem 0;
}

.offerings__container {
  display: grid;
  grid-template-rows: 10rem 10rem;
  grid-template-columns: 18.375rem 1fr 1fr;
  column-gap: 5.2rem;
}

.offerings__body {
  grid-row: span 2;
}

.offerings__mark {
  margin-bottom: 1.12rem;
}

.offerings__title {
  max-width: 18.375rem;
}

.offerings_item {
  display: flex;
  justify-content: space-between;
}

.offerings_item__image{
  width: 3.126rem;
  height: 3.126rem;
}

.offerings_item__body {
  padding-left: 1.56rem;
  border-left: var(--gray-light-2) solid 1px;
  height: 7.1875rem;
  max-width: 18.475rem;
}

.offerings_item__body_title {
  margin-bottom: 0.81rem;
}

/* Advantages ---------------------------------- */

.advantages {
  position: relative;
}

.advantages__decoration {
  position: absolute;
  z-index: -1;
  height: 31.5rem;
  width: 100%;
  background: url("../img/home/advantages/photo_1.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.advantages__decoration::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #091242 -11.11%, rgba(9, 18, 66, 0.00) 90.28%);
}

.advantages__container {
  position: relative;
  top: 23rem;
  margin-bottom: 23rem;
  background-color: white;
  padding: 5.5rem;
  display: grid;
  grid-template-rows: auto 14.5rem;
  grid-template-columns: 1fr 1fr;
}

.advantages__body {
  max-width: 29.5rem;
}

.advantages__body .body_info__mark, .body_info__title {
  margin-bottom: 0.75rem;
}

.advantages__body .body_info__text:not(:last-child) {
  margin-bottom: 1.5rem;
}

.advantages__images {
  grid-row: span 2;
  position: relative;
}

.advantages__images__first_image {
  position: absolute;
  right: 0;
}

.advantages__images__second_image {
  position: absolute;
  z-index: 50;
  bottom: 0;
  left: -3.5rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  background: white;
}

.advantages__statistic {
  margin-top: 1.56rem;
  padding-right: 4rem;
}

.advantages__statistic img {
  min-width: 58px;
  min-height: 58px;
}

.advantages__statistic .advantages__statistic__item:not(:last-child){
  margin-bottom: 1.5rem;
}

.advantages__statistic__item {
  display: flex;
  align-items: center;
}

.advantages__statistic__item_heading {
  margin-left: 0.75rem;
}

.advantages__results {
  margin-top: 4rem;
  min-height: 9rem;
  grid-column: span 2;
  display: flex;
}

.advantages__results .result__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: var(--gray-light-1) solid 1px;
  border-bottom: var(--gray-light-1) solid 1px;
  flex: 1 1 50%;
}

.advantages__results .result__item > * {
  margin-right: 0.7rem;
}

.advantages__results .result__item:not(:first-child) {
  border-left: var(--gray-light-1) solid 1px;
}

.advantages__results .result__item__title{
  color: var(--heading-font);
  font-family: Rubik;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal; 
}

.advantages__results .result__item__decoration {
  width: 1.0625rem;
  height: 1.0625rem; 
  background: linear-gradient(94deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%); 
}

.advantages__results .result__item__description {
  color: var(--heading-font);
  font-family: League Spartan;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*  Transporting ----------------------------------- */

.transporting {
  position: relative;
  padding-bottom: 9.4rem;
}

.transporting__container {
  max-width: 105rem;
}

.transporting__title {
  margin-bottom: 2.2rem;
  text-align: center;
}

.transporting__content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.13rem;
  margin-bottom: 4rem;
}

.transporting_item {
  max-width: 20rem;
  position: relative;
}

.transporting_item__image {
  position: relative;
}

.transporting_item__image::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #050816 14.34%, rgba(60, 60, 60, 0.00) 43.86%);
}

.transporting_item__info {
  position: absolute;
  padding: 1.3rem;
  bottom: 0;
  left: 0;
}

.transporting_item__info_text {
  color: #FFB629;
}

.transporting__button {
  color: white;
  margin: auto;
}

.transporting__decoration {
  min-height: 50%;
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  background: linear-gradient(95deg, #FFB629 -1.19%, #FFDA56 57.78%, #FFD7A6 115.08%);
}

/*  Testimonial ----------------------------------- */

.testimonial {
  padding-top: 6.22rem;
  padding-bottom: 6.22rem;
}

.testimonial__header {
  display: flex;
  margin-bottom: 2.5rem;
}

.testimonial__header_block {
  flex: 1 1 auto;
}

.testimonial__mark {
  margin-bottom: 0.81rem;
}

.testimonial__actions {
  display: flex;
  align-items: end;
  gap: 1rem;
  transition: all 0.7s;
}

.testimonial__actions__button {
  border-radius: 100%;
  background: linear-gradient(-90deg, #FFB629 -1.19%, #FFDA56 57.78%, #FFD7A6 115.08%);
  min-height: 2.72rem;
  min-width: 2.72rem;
  display: flex;
  justify-content: center;
  transition: all 0.7s ease;
}

.testimonial_button-dark {
  background: var(--primary-2);
}

.testimonial__actions__button:hover {
  background: rgb(37, 255, 37);
}

.testimonial__body {
  display: flex;
}

.testimonial__item {
  padding: 3.88rem 4.5rem;
  background-color: var(--secondary-1);
}

.testimonial__item__header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.testimonial__item__customer_image img {
  border-radius: 100%;
}

.testimonial__item__customer_info {
  margin-left: 0.62rem;
  flex: 1 1 auto;
  color: var(--primary-2);
}

.testimonial__item__customer_name {
  font-family: Rubik;
  font-size: 1.25rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal; 
}

.testimonial__item__decoration {
  width: 4.55rem;
  height: 4.55rem;
  border-radius: 100%;
  overflow: hidden;
  background: linear-gradient(-90deg, #FFB629 -1.19%, #FFDA56 57.78%, #FFD7A6 115.08%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__item__content {
  font-style: italic;
  margin-bottom: 2rem;
  max-width: 28.5rem;
}

.testimonial__item__rating {
  display: flex;
  gap: 0.4rem;
}

.testimonial__item__rating__image {
  min-width: 2.125rem;
}

.testimonial__item-dark {
  background-color: var(--primary-2);
}

.testimonial__item-dark * {
  color: white;
}

/*  Features ----------------------------------- */

.features {
  position: relative;
}

.features__decoration {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1;
}

.features__decoration__background-dark {
  flex: 1 1 50%;
  background-color: var(--primary-2);
}

.features__decoration__background-light {
  flex: 1 1 50%;
  background-color: var(--secondary-1);
  position: relative;
}

.features__decoration__background-light img {
  position: absolute;
  top: 5rem;
  left: 4.7rem;
}

.features__container {
  display: flex;
  max-width: 105rem;
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.features__image {
  flex: 1 1 auto;
  position: relative;
  height: max-content;
}

.features__image__content {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 1.845rem 2rem;
  left: 50%;
  bottom: 0;
  max-width: 26rem;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #FFB629 -1.19%, #FFDA56 57.78%, #FFD7A6 115.08%);
}

.features__image__content_title {
  margin-left: 1.31rem;
}

.features__body {
  flex: 1 1 45.55rem;
  padding-top: 3.81rem;
  padding-left: 4.12rem;
}

.features__body__mark {
  margin-bottom: 0.75rem;
}

.features__body__title {
  margin-bottom: 1.12rem;
  max-width: 27.37rem;
}

.features__body__text {
  margin-bottom: 3.81rem;
  max-width: 30.37rem;
}

.features__body__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem 0;
}

.features__body__item {
  display: flex;
  align-items: center;
}

.features__body__item_title {
  margin-left: 0.75rem;
  font-weight: 400;
  color: var(--heading-font);
}

/* Transporters  ----------------------------------- */

.transporters__container {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.transporters__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.transporters__header__mark {
  margin-bottom: 1rem;
}

.transporters__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.transporters__body__item {
  flex: 0 1 30%;
}

.transporters__item__image {
  position: relative;
}

.transporters__item__image > img {
  width: 100%;
}

.transporters__item__image__links {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%);
  padding: 1.25rem 1rem;
  background: linear-gradient(0deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
  display: flex;
  flex-direction: row;
  gap: 1.57rem;
  align-items: center;
  max-height: 9.45rem;
}

.transporters__item__content {
  background-color: var(--heading-font);
  padding: 2.62rem 2.12rem 1.25rem 2.12rem;
}

.transporters__item__text {
  color: white;
}

/*  Contact ----------------------------------- */

.contact {
  background-color: var(--primary-2);
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.contact__body {
  display: flex;
  margin-bottom: 4.4rem;
}

.contact__info {
  max-width: 22rem;
}

.contact__info * {
  color: white;
}

.contact__info__content {
  margin-bottom: 2rem;
}

.contact__info__content__mark {
  background: rgba(232, 232, 232, 0.10);
  margin-bottom: 0.81rem;
}

.contact__info__address {
  display: flex;
  flex-direction: column;
  gap: 1.88rem;
}

.contact__info__address__item {
  display: flex;
  align-items: center;
}

.contact__info__address__info {
  margin-left: 0.88rem;
  font-family: Krub;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.18144rem; 
}

.contact_form {
  flex: 1 1 auto;
  margin-left: 5.5rem;
  margin-top: 2.62rem;
}

.contact_form__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.8rem;
  margin-bottom: 1.8rem;
}

.contact_form__input, 
.contact_form__textarea {
  border: 1px solid #4E5683; 
  padding: 1.31rem 1.81rem;
  color: white;
  background-color: var(--primary-2);
  font-family: League Spartan;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

.contact_form__textarea {
  max-height: 9.625rem;
  margin-bottom: 1.8rem;
  resize: none;
}

.contact_form__button {
  padding: 1.19rem 2.12rem;
  color: var(--font-1);
  font-weight: 600;
  line-height: 1.35025rem;
  background: linear-gradient(94deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
}

.contact_form__button:hover {
  background: linear-gradient(94deg, #4db905 -1.21%, #98e962 116.84%);
  color: white;
}

.contact__footer {
  display: grid;
  position: relative;
  min-width: 14.625rem;
  grid-template-columns: repeat(4, auto);
}

.contact__footer__item {
  position: relative;
}

.contact__footer__item__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*  Blog ----------------------------------- */

.blog__container {
  padding: 7.88rem;
}

.blog__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.44rem;
}

.blog__header__mark {
  margin-bottom: 0.81rem;
}

.blog__body .blog_item:not(:last-child) {
  border-bottom: none;
}

.blog_item {
  display: flex;
  padding: 2.19rem 0;
  border-top: 1px solid var(--gray-light-1);
  border-bottom: 1px solid var(--gray-light-1);
}

.blog_item__image {
  position: relative;
  flex: 0 1 auto;
}

.blog_image {
  min-width: 453px;
  min-height: 308px;
}

.blog_item__image::before,
.blog_item__image::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  pointer-events: none;
}

.blog_item__image::before {
  content: "";
  background: rgba(28, 31, 53, 0.91);
  width: 80%;
  height: 70%;
}

.blog_item__image::after {
  content: "Read More";
  color: white;
}

.blog_item__image:hover::before,
.blog_item__image:hover::after {
  display: block;
}

.blog_item__date {
  flex: 0 1 auto;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog_item__date__time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog_item__date__time span{
  color: var(--heading-font);
  font-family: Rubik;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal; 
}

.blog_content {
  flex: 0 1 21rem;
  padding-top: 0.62rem;
  padding-left: 1.81rem;
  border-left: 1px solid var(--gray-light-1);
}

.blog_content__title {
  margin-bottom: 1rem;
}

.blog_content__title:hover {
  color: var(--primary-1);
}

.blog_content__text {
  margin-bottom: 1.12rem;
}

.blog_list__item {
  color: var(--heading-font);
  margin-left: 1.5rem;
}

/*   ----------------------------------- */
/*   ----------------------------------- */
/*   ----------------------------------- */
/*   ----------------------------------- */
/*   ----------------------------------- */
/*   ----------------------------------- */
/*   ----------------------------------- */
/*   ----------------------------------- */



/* Desktop */

@media (max-width: 1230px) {
  [class*="__container"] {
    max-width: 970px;
  }

  /* Menu */

  .logo_address__item {
    flex-direction: column;
  }

  /* Logistics */

  .logistics {
    background-size: cover;
    background-position: left -15rem center;
    max-height: 45.1865rem;
  }

  .logistics__container {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  /* Offerings ----------------------------------- */

  .offerings__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .offerings__body {
    grid-row: 1;
    grid-column: span 2;
    justify-self: center;
    margin-bottom: 2rem;
  }

  .offerings_item__body {
    height: max-content;
    margin-bottom: 2rem;
  }
  
  /* Advantages ----------------------------------- */

  .advantages__body {
    padding-right: 1rem;
  }

  /*  Transporting ----------------------------------- */
  
  .transporting__content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .transporting__decoration {
    height: 70%;
  }

  /*  Features ----------------------------------- */

  .features__container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .features__decoration__background-dark, .features__image {
    display: none;
  }

  .features__decoration__background-light img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .features__body {
    padding: 0 3.81rem;
  }

  /*  Blog ----------------------------------- */

  .blog__container {
    padding: 7.88rem 0 7.88rem 0;
  }

}

/* Tablet */

@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }

  /* Menu */

  .header__block__container {
    justify-content: end;
    position: relative;
  }

  .logo_address__image {
    width: 3rem;
    display: flex;
    align-items: center;
  }

  .logo_address__info {
    font-size: 0.85rem;
  }

  .header__block__action {
    flex: 1 1 auto;
  }

  /* Menu btn */

  .menu_btn {
    display: flex;
    position: absolute;
    left: 1rem;
  }
  
  .menu_btn.active {
    position: fixed;
    left: 1rem;
    top: 1rem;
  }
  
  .menu_btn.active span {
    background-color: var(--primary-1);
  }

  .menu {
    transform: translateX(-300%);
    position: absolute;
    left: 0;
  }

  .menu__list {
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
  }

  .menu__list .menu__item:not(:last-child) {
    padding-right: 0;
    border-right: none;
  }

  .menu__list .menu__item:not(:first-child) {
    padding-left: 0;
  }

  .menu__link {
    display: block;
    text-align: center;
    padding: 1rem 0;
  }

  .menu__link:hover {
    background-color: var(--primary-1);
    color: var(--primary-2);
  }

  /* Logistics ----------------------------------- */

  .logistics__container {
    padding-top: 8rem;
    padding-bottom: 5rem;
  }

  /* Offerings ----------------------------------- */

  .offerings {
    margin: 5rem 0;
  }

  .offerings__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .offerings__body {
    grid-column: 1;
    margin-bottom: 4rem;
  }

  .offerings_item {
    display: flex;
    justify-content: start;
    max-width: max-content;
    margin: auto;
  }

  .offerings_item__image {
    margin-right: 2rem;
  }

  .offerings_item__body {
    max-width: 30rem;
  }

  /*  Advantages ------------------------------- */

  .advantages__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .advantages__body {
    max-width: max-content;
    padding-right: 0;
  }

  .advantages__images {
    display: none;
  }

  .advantages__statistic {
    margin-top: 1.56rem;
    padding-right: 0;
    grid-row: 2;
  }

  .advantages__results {
    margin-top: 1.56rem;
  }

  .advantages__results .result__item__title{
    font-size: 2.125rem;
  }

  .advantages__results .result__item__description {
    max-width: min-content;
  }

  /*  Testimonial ----------------------------------- */

  .testimonial__body {
    justify-content: center;
  }

  .testimonial__body .testimonial__item:not(:first-child) {
    display: none;
  }

  /* Transporters  ----------------------------------- */

  .transporters__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .transporters__body__item {
    flex: 0 0 45%;
  }

  /*  Contact ----------------------------------- */

  .contact__body {
    flex-direction: column;
  }

  .contact__info {
    margin-bottom: 3rem;
    max-width: none;
  }

  .contact__info__address {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact_form {
    margin: 0;
  }

  .contact__footer {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 18.625rem);
    justify-content: center;
  }

  /*  Blog ----------------------------------- */

  .blog_item__image {
    height: 100%;
  }

  .blog_image {
    min-width: auto;
    min-height: auto;
  }
}

/* Mobile */

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }

  /* Menu */

  .logo_block {
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    justify-content: space-between;
    align-items: flex-start;
  }

  .logo_address__item {
    flex-direction: row;
  }

  /*  Transporting ----------------------------------- */

  .transporting {
    padding-bottom: 4rem;
  }
  
  .transporting__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 4rem;
  }
  
  .transporting__decoration {
    height: 85%;
  }

  /*  Blog ----------------------------------- */

  .blog__container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .blog_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .blog_item__image {
    flex: 0 1 auto;
  }

  .blog_item__date {
    flex: 1 0 auto;
  }

  .blog_content {
    flex: 1 1 auto;
    padding: 0;
    border-left: none;
  }
}